/* .parent {
  display: grid;
  grid-template-columns: 100px;
  grid-template-rows: 100px;
  /* grid-template-columns: 50px 50px 50px; */
/* grid-template-columns: 1fr 1fr 1fr; */
/* grid-template-columns: repeat(4, 50px); */
/* grid-template-rows: 50px 75px 50px 50px; */
/* grid-template-rows: 1fr 1fr 1fr 1fr; */

/* background-color: aqua; */

/* column-gap: 10px; */
/* row-gap: 10px; */
/* } */

/* .child {
  background-color: chartreuse;
  display: flex;
  text-align: center;
  justify-content: center;
} */

/* .header {
  grid-column-start: 1;
  grid-column-end: 4;
}

.menu {
  grid-row-start: 2;
  grid-row-end: 4;
}

.footer {
  grid-column-start: 2;
  grid-column-end: 4;
} */

/* .first {
  grid-column-start: 1;
  grid-column-end: 4;
  background-color: green;
}

.second {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 4;
  background-color: yellow;
}

.third {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 4;
  background-color: orange;
}

.fourth {
  grid-column-start: 1;
  grid-column-end: 4;
  background-color: violet;
} */


*